


<ion-content>
  <header-principal [title]="'Primeira Entrevista'" [progresso]="30"></header-principal>
  <ion-col *ngFor="let q of perguntas; let i = index ">
    <ion-list radio-group>


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle> {{q.descricao}}</ion-card-subtitle>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
          <ion-item no-lines *ngFor="let a of q.resposta">
            <ion-radio item-left color="secondary" (ionSelect)="selecionarRespostas(input, q, a)" [value]='a.descricaoApp'></ion-radio>
            <ion-label>{{a.descricaoApp}}</ion-label>
          </ion-item>
          <div *ngIf="q.manual==true">
            <ion-item no-lines>
              <ion-radio  item-left color="secondary" (ionSelect)="selecionarRespostas(input, q, null)"></ion-radio>
              <ion-label>Outro(s)</ion-label>
            </ion-item>
            <ion-input #input type="input" (keydown)="atualizarRelato($event,q)" placeholder="Descreva aqui"></ion-input>
          </div>
        </ion-card-content>

      </ion-card>

    </ion-list>
  </ion-col>
  <button id="primeiraEntrevista-button6"  ion-button color="positive" [disabled]="this.perguntas.length!=this.usuarioRespostas.length"
    block on-click="goToOutrosProblemas()">
    Prosseguir
  </button>

