<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Assinatura
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Precisamos da sua autorização.</h4>
  <h6>Assine <ion-text color="secondary">duas vezes</ion-text> abaixo. Pode utilizar seus dedos...</h6>
  <button ion-button full (click)="openSignatureModel()">
    <ion-icon name="brush"></ion-icon>Assinatura
  </button>
  <!-- <button ion-button full (click)="openSignatureModel(2)">Assinatura 2</button> -->
  <!-- <ion-item > -->

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="imagem" *ngFor="let image of signatureImages">
        <button class="botao-fechar" item-right (click)="removerAssinatura(image)">
          <ion-icon color="secondary" name="close"></ion-icon>
        </button>
        <img [src]="image" />

      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf="this.signatureImages.length>0">
    <br>
    <button id="assinatura-button11" ion-button color="positive" block
      on-click="goToDocumentos()">
      Prosseguir
    </button> 
  </div>
</ion-content>