<!-- Generated template for the HeaderPrincipalComponent component -->
<!-- <div>
  {{text}}
</div> -->


<!-- <ion-header> -->

<ion-navbar text-center>
  <!-- <ion-content padding> -->
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title center>
    {{title}}
  </ion-title>
  <!-- </ion-content> -->
</ion-navbar>
<div>
  <!-- <app-dynamic-form [questions]="questions"></app-dynamic-form> -->
  <progress-bar [progress]='(progresso)'></progress-bar>

</div>

<!-- </ion-header> -->
