

page-admin-problemas {
    ion-grid {
        height: 100%;
      
        ion-row {
          height: 24%;
        }

        ion-row .teste{
          height: 28%;
        }
      }

      .active {
        background-color:#2ec4b6 !important;
        color: black;
      }
}
