<!--
  Generated template for the DominioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="secondary">
    <ion-title>Que área tem dúvida?</ion-title>
  </ion-navbar>

</ion-header> -->


<!-- <br> -->

<ion-content padding>
  <header-principal [title]="'Dominio'" [progresso]="90"></header-principal>
  <!-- <div *ngIf="dominios | async;let list">
    Length: {{list.length}}
    <div *ngIf="list.length>0">
      <ul>
        <li *ngFor="let item of list">
          {{item.nome}}
        </li> 
      </ul>
    </div>
  

  </div> -->

  <button *ngFor="let d of dominios" ion-item outline (click)="goToProblema(d)">
    <ion-icon name="happy" item-left color="primary"></ion-icon>
    {{d.descricao}}
  </button>

  <!-- <button id="problema-button5" ion-button color="positive" block (click)="goToProblemas()">
    Prosseguir
  </button> -->
</ion-content>